doctype html
html
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="/public/styles/application.css")
    block title
      title Default title
  body
    block content
    script(src="/public/js/application.js" async)
    script(src="https://code.jquery.com/jquery-2.1.4.min.js" async)
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" async)

    //- <!-- Optional theme -->
    //- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
