doctype html
html
  head
    link(rel="stylesheet" href="/public/styles/application.css")
    block title
      title Default title
  body
    block content
    script(src="/public/js/application.js")
